# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
.env
*.env
*.ipynb_checkpoints

# PyTorch
*.pt
*.pth

# Jupyter
.ipynb_checkpoints

# VS Code / IDE
.vscode/
.idea/

# Mac OS
.DS_Store
